flows (1).json
[{"id":"e80aed124131b59a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ea7300f98c6f63ed","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanh1","diff":true,"name":"read s7-1200","x":150,"y":200,"wires":[["644b1fd16d4eb3d2"]]},{"id":"644b1fd16d4eb3d2","type":"ui_led","z":"e80aed124131b59a","order":1,"group":"21fede182edc0b75","width":2,"height":2,"label":"xanh 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ffffff","value":"false","valueType":"bool"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"xanh1","x":330,"y":200,"wires":[]},{"id":"618faa5c63ca80b0","type":"ui_led","z":"e80aed124131b59a","order":2,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"vang1","x":330,"y":260,"wires":[]},{"id":"913c851a277588c0","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"start","name":"start","x":410,"y":80,"wires":[]},{"id":"3bb6ffc4c653115d","type":"ui_led","z":"e80aed124131b59a","order":1,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"xanh2","x":710,"y":200,"wires":[]},{"id":"bb475c95df25845b","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"vang1","diff":true,"name":"read s7-1200","x":150,"y":260,"wires":[["618faa5c63ca80b0"]]},{"id":"6b9f476acb4f0a46","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"do1","diff":true,"name":"read s7-1200","x":150,"y":320,"wires":[["d9b3bd49c522420a"]]},{"id":"d9b3bd49c522420a","type":"ui_led","z":"e80aed124131b59a","order":3,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"do1","x":330,"y":320,"wires":[]},{"id":"e461e5e31b9198b9","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanhbo1","x":340,"y":380,"wires":[]},{"id":"d3b5116b94c6aabe","type":"ui_led","z":"e80aed124131b59a","order":5,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"dobo1","x":330,"y":440,"wires":[]},{"id":"57d6df81dbc2d0b1","type":"ui_led","z":"e80aed124131b59a","order":3,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"do2","x":710,"y":320,"wires":[]},{"id":"202cadf7240518b7","type":"ui_led","z":"e80aed124131b59a","order":2,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"vang2","x":710,"y":260,"wires":[]},{"id":"82db761426787964","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanhbo2","x":720,"y":380,"wires":[]},{"id":"2346968f792d0183","type":"ui_led","z":"e80aed124131b59a","order":5,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"dobo2","x":710,"y":440,"wires":[]},{"id":"6a3bd8437d7f6b36","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanhbo1","diff":true,"name":"read s7-1200","x":150,"y":380,"wires":[["e461e5e31b9198b9"]]},{"id":"07f1ddb0ad94459b","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"vang2","diff":true,"name":"read s7-1200","x":530,"y":260,"wires":[["202cadf7240518b7"]]},{"id":"36e6fd8531f75346","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"do2","diff":true,"name":"read s7-1200","x":530,"y":320,"wires":[["57d6df81dbc2d0b1"]]},{"id":"7879125153d7219c","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanh2","diff":true,"name":"read s7-1200","x":530,"y":200,"wires":[["3bb6ffc4c653115d"]]},{"id":"f62dabb033db49da","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"dobo1","diff":true,"name":"read s7-1200","x":150,"y":440,"wires":[["d3b5116b94c6aabe"]]},{"id":"8416eace9043739f","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanhbo2","diff":true,"name":"read s7-1200","x":530,"y":380,"wires":[["82db761426787964"]]},{"id":"cf8d06d3dcba749a","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"dobo2","diff":true,"name":"read s7-1200","x":530,"y":440,"wires":[["2346968f792d0183"]]},{"id":"146f79cba6f10359","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"phút","tooltip":"","group":"df2bb8eadd6919e8","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":640,"wires":[["1f80e174dcc23ed8"]]},{"id":"4846989d130ae3c8","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME START CĐ NGU_PHUT","diff":true,"name":"","x":160,"y":640,"wires":[["146f79cba6f10359"]]},{"id":"1f80e174dcc23ed8","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME START CĐ NGU_PHUT","name":"","x":770,"y":640,"wires":[]},{"id":"929df7d1071f0cb6","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giờ","tooltip":"","group":"df2bb8eadd6919e8","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"color","topicType":"msg","x":430,"y":580,"wires":[["47c28a205ae36fe8"]]},{"id":"8f67f9a5330d971c","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME START CĐ NGU_GIO","diff":true,"name":"","x":160,"y":580,"wires":[["929df7d1071f0cb6"]]},{"id":"47c28a205ae36fe8","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME START CĐ NGU_GIO","name":"","x":760,"y":580,"wires":[]},{"id":"4f4c5ec8b30460e8","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giờ","tooltip":"","group":"233975b6ff9c4da4","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":780,"wires":[["cf424117855bf612"]]},{"id":"66c8bd952dff65c7","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME START CĐ DEM KHUYA_GIO","diff":true,"name":"","x":180,"y":780,"wires":[["4f4c5ec8b30460e8"]]},{"id":"cf424117855bf612","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME START CĐ DEM KHUYA_GIO","name":"","x":790,"y":780,"wires":[]},{"id":"3c1e04b40b19ae72","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"phút","tooltip":"","group":"233975b6ff9c4da4","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":840,"wires":[["262f803da5729b0d"]]},{"id":"7e3a8b73bf0b9c45","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME START CĐ DEM KHUYA_PHUT","diff":true,"name":"","x":190,"y":840,"wires":[["3c1e04b40b19ae72"]]},{"id":"262f803da5729b0d","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME START CĐ DEM KHUYA_PHUT","name":"","x":790,"y":840,"wires":[]},{"id":"bd183531d8304cb4","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giờ","tooltip":"","group":"3f09a206b1393c24","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":1000,"wires":[["94f3982b2b9d90d5"]]},{"id":"e69e1018efe60c3b","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME START CĐ BINH THUONG_GIO","diff":true,"name":"","x":190,"y":1000,"wires":[["bd183531d8304cb4"]]},{"id":"94f3982b2b9d90d5","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME START CĐ BINH THUONG_GIO","name":"","x":790,"y":1000,"wires":[]},{"id":"9c0f3e52ee4dd5f3","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"phút","tooltip":"","group":"3f09a206b1393c24","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":430,"y":1060,"wires":[["1b6b7d58797017ba"]]},{"id":"da4ff8d15d1d86d6","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME START CĐ BINH THUONG_PHUT","diff":true,"name":"","x":200,"y":1060,"wires":[["9c0f3e52ee4dd5f3"]]},{"id":"1b6b7d58797017ba","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME START CĐ BINH THUONG_PHUT","name":"","x":800,"y":1060,"wires":[]},{"id":"cc244339a79c383b","type":"ui_button","z":"e80aed124131b59a","name":"start","group":"2b90c887413d0754","order":1,"width":2,"height":1,"passthru":true,"label":"START","tooltip":"","color":"white","bgcolor":"blue","className":"hello","icon":"","payload":"bat dau","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":80,"wires":[["913c851a277588c0"]]},{"id":"1829f4f1817e5e2d","type":"ui_button","z":"e80aed124131b59a","name":"stop","group":"2b90c887413d0754","order":2,"width":2,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"","payload":"dừng","payloadType":"str","topic":"topic","topicType":"msg","x":590,"y":80,"wires":[["71c13f9ee5a2f366"]]},{"id":"71c13f9ee5a2f366","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"stop","name":"","x":790,"y":80,"wires":[]},{"id":"7cf404983f92ca37","type":"comment","z":"e80aed124131b59a","name":"Khởi động","info":"hello","x":140,"y":20,"wires":[]},{"id":"794c383fbb21a0d1","type":"comment","z":"e80aed124131b59a","name":"hệ thống đèn giao thông","info":"","x":190,"y":140,"wires":[]},{"id":"7b1e740e82c3dc32","type":"comment","z":"e80aed124131b59a","name":"thiết lập thời gian chế độ đêm khuya","info":"","x":180,"y":720,"wires":[]},{"id":"a4f663347823cb47","type":"comment","z":"e80aed124131b59a","name":"thiết lập thời gian chế độ bình thường","info":"","x":190,"y":940,"wires":[]},{"id":"e8863f0059403f63","type":"comment","z":"e80aed124131b59a","name":"chế độ đèn","info":"","x":1160,"y":1480,"wires":[]},{"id":"2671cee658318570","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"che do binh thuong","diff":true,"name":"","x":1190,"y":1540,"wires":[["87d216a14072a04c","a6251eec767ca750","0b2d3dfc20a8c502"]]},{"id":"87d216a14072a04c","type":"ui_text","z":"e80aed124131b59a","group":"4362cdf90f4af5ca","order":1,"width":3,"height":1,"name":"","label":"chế độ thường","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1500,"y":1540,"wires":[]},{"id":"a6251eec767ca750","type":"ui_led","z":"e80aed124131b59a","order":2,"group":"4362cdf90f4af5ca","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":1600,"wires":[]},{"id":"1b791f9b5d31cb5a","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"che do dem khuya","diff":true,"name":"","x":1190,"y":1720,"wires":[["cadce8b6f44ee469","deafbca2efe0d717","c5b56a5cca46cfad"]]},{"id":"cadce8b6f44ee469","type":"ui_text","z":"e80aed124131b59a","group":"4362cdf90f4af5ca","order":3,"width":3,"height":1,"name":"","label":"chế độ đêm","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1490,"y":1720,"wires":[]},{"id":"deafbca2efe0d717","type":"ui_led","z":"e80aed124131b59a","order":4,"group":"4362cdf90f4af5ca","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":1780,"wires":[]},{"id":"242ae5985cf81819","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"che do ngu","diff":true,"name":"","x":1160,"y":1920,"wires":[["d349755dde827c72","8a1dfbc62d5032c5","e0dd91375bc485b7"]]},{"id":"d349755dde827c72","type":"ui_text","z":"e80aed124131b59a","group":"4362cdf90f4af5ca","order":5,"width":3,"height":1,"name":"","label":"chế độ ngủ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1490,"y":1920,"wires":[]},{"id":"8a1dfbc62d5032c5","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"4362cdf90f4af5ca","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":1980,"wires":[]},{"id":"5b5f60abe7e85a53","type":"ui_text","z":"e80aed124131b59a","group":"3f09a206b1393c24","order":1,"width":6,"height":2,"name":"","label":"start","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":940,"wires":[]},{"id":"17266941dd253f0a","type":"ui_text","z":"e80aed124131b59a","group":"df2bb8eadd6919e8","order":1,"width":6,"height":2,"name":"","label":"start","format":"{{msg.payload}}","layout":"row-spread","className":"","x":350,"y":540,"wires":[]},{"id":"aac19a5f6d5e2535","type":"ui_text","z":"e80aed124131b59a","group":"233975b6ff9c4da4","order":1,"width":6,"height":2,"name":"","label":"start","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":740,"wires":[]},{"id":"0b2d3dfc20a8c502","type":"ui_toast","z":"e80aed124131b59a","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ thường","x":1530,"y":1640,"wires":[]},{"id":"c5b56a5cca46cfad","type":"ui_toast","z":"e80aed124131b59a","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ đêm","x":1518,"y":1841,"wires":[]},{"id":"e0dd91375bc485b7","type":"ui_toast","z":"e80aed124131b59a","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ ngủ","x":1520,"y":2040,"wires":[]},{"id":"78db064108a2a8bf","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME XANH 1","diff":true,"name":"","x":110,"y":1300,"wires":[["dd2a1c44b99545eb"]]},{"id":"dd2a1c44b99545eb","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":3,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":370,"y":1300,"wires":[["921b6c67403a4e92"]]},{"id":"921b6c67403a4e92","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME XANH 1","name":"","x":620,"y":1300,"wires":[]},{"id":"8cf459ee19511cc0","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME VANG 1","diff":true,"name":"","x":110,"y":1440,"wires":[["9cd2886977aee27a"]]},{"id":"9cd2886977aee27a","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":7,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":370,"y":1440,"wires":[["f2f363ac48ab6b4e"]]},{"id":"f2f363ac48ab6b4e","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME VANG 1","name":"","x":620,"y":1440,"wires":[]},{"id":"642cb50f951f84c0","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME XANH 2","diff":true,"name":"","x":110,"y":1580,"wires":[["f2b128b7dfd7f020"]]},{"id":"f2b128b7dfd7f020","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":4,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":370,"y":1580,"wires":[["52b4586866797c8e"]]},{"id":"52b4586866797c8e","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME XANH 2","name":"","x":620,"y":1580,"wires":[]},{"id":"3079ba9060e0c2f8","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME VANG 2","diff":true,"name":"","x":110,"y":1720,"wires":[["37eaa9e233a3e4e1"]]},{"id":"37eaa9e233a3e4e1","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":8,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":370,"y":1720,"wires":[["b2fad68dc7628598"]]},{"id":"b2fad68dc7628598","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME VANG 2","name":"","x":620,"y":1720,"wires":[]},{"id":"f8ae96973d1f38a1","type":"comment","z":"e80aed124131b59a","name":"thiet lap chu ki den","info":"","x":130,"y":1240,"wires":[]},{"id":"ad1a06a42060aa25","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":5,"width":2,"height":1,"name":"","label":"XANH2","format":"{{msg.payload}}","layout":"row-spread","className":"","x":380,"y":1520,"wires":[]},{"id":"2b330906ed15d59f","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":1,"width":2,"height":1,"name":"","label":"XANH1","format":"{{msg.payload}}","layout":"row-spread","className":"","x":380,"y":1260,"wires":[]},{"id":"ac4396dc1c1cbe5a","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":2,"width":2,"height":1,"name":"","label":"VANG1","format":"{{msg.payload}}","layout":"row-spread","className":"","x":380,"y":1380,"wires":[]},{"id":"f99a0ed0b261cc2f","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":6,"width":2,"height":1,"name":"","label":"VANG2","format":"{{msg.payload}}","layout":"row-spread","className":"","x":380,"y":1660,"wires":[]},{"id":"ff341f31826f3a3f","type":"s7 in","z":"e80aed124131b59a","endpoint":"a28cc1afec606075","mode":"single","variable":"bao chay den","diff":true,"name":"","x":1170,"y":240,"wires":[["9f69aee2396a4e86","9e7e477293660dd6","1d3bbe9bcd14622b","21c55e27166d3273"]]},{"id":"1d6ccd2ed601f94b","type":"s7 in","z":"e80aed124131b59a","endpoint":"a28cc1afec606075","mode":"single","variable":"bao den sang cung luc","diff":true,"name":"","x":1200,"y":520,"wires":[["22625f75f15cb52a","d26a56939f01d66d","6ca280565df293b4","7c02c6ce37089ee4"]]},{"id":"f2639d091ccacabf","type":"s7 in","z":"e80aed124131b59a","endpoint":"a28cc1afec606075","mode":"single","variable":"bao den sai che do","diff":true,"name":"","x":1190,"y":800,"wires":[["67e1b00c17bf8bcc","fc10c68b52c8f517","43a6053158cb18ec","bb5c888ae6b2e695"]]},{"id":"43cfb17c672178ec","type":"s7 in","z":"e80aed124131b59a","endpoint":"a28cc1afec606075","mode":"single","variable":"canh bao mo tu","diff":true,"name":"","x":1180,"y":1060,"wires":[["679fe61962c9ee39","4450dfeaffa82d6e","4f73c84992cd278a","431957ee5685e535"]]},{"id":"9f69aee2396a4e86","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":1,"width":3,"height":1,"name":"","label":"báo cháy đèn","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1500,"y":240,"wires":[]},{"id":"22625f75f15cb52a","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":5,"width":3,"height":2,"name":"","label":"đèn đang sáng cùng lúc","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1530,"y":520,"wires":[]},{"id":"67e1b00c17bf8bcc","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":10,"width":3,"height":1,"name":"","label":"đèn sai chế độ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1500,"y":800,"wires":[]},{"id":"679fe61962c9ee39","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":3,"width":3,"height":1,"name":"","label":"tủ đang được mở","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1510,"y":1060,"wires":[]},{"id":"9e7e477293660dd6","type":"ui_led","z":"e80aed124131b59a","order":2,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":300,"wires":[]},{"id":"d26a56939f01d66d","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":580,"wires":[]},{"id":"fc10c68b52c8f517","type":"ui_led","z":"e80aed124131b59a","order":11,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":860,"wires":[]},{"id":"4450dfeaffa82d6e","type":"ui_led","z":"e80aed124131b59a","order":4,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":1120,"wires":[]},{"id":"2696213769614897","type":"comment","z":"e80aed124131b59a","name":"canh bao","info":"","x":1160,"y":40,"wires":[]},{"id":"a802c86d809dd816","type":"debug","z":"e80aed124131b59a","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2120,"y":120,"wires":[]},{"id":"bf1a43fe785e29fc","type":"debug","z":"e80aed124131b59a","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2120,"y":400,"wires":[]},{"id":"dab44242eb3f04ed","type":"debug","z":"e80aed124131b59a","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2120,"y":680,"wires":[]},{"id":"890fe42beae9eb3c","type":"inject","z":"e80aed124131b59a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"str","x":1170,"y":120,"wires":[["1d3bbe9bcd14622b","21c55e27166d3273","a802c86d809dd816"]]},{"id":"bf271a5673c45950","type":"inject","z":"e80aed124131b59a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"h","payloadType":"str","x":1170,"y":400,"wires":[["6ca280565df293b4","7c02c6ce37089ee4","bf1a43fe785e29fc"]]},{"id":"0a46020535e0e055","type":"inject","z":"e80aed124131b59a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"s","payloadType":"str","x":1170,"y":680,"wires":[["43a6053158cb18ec","bb5c888ae6b2e695","dab44242eb3f04ed"]]},{"id":"1d3bbe9bcd14622b","type":"firebase modify","z":"e80aed124131b59a","name":"","firebaseconfig":"","childpath":"PLC2/canhbaodenchay","method":"push","value":"msg.payload","priority":"msg.priority","x":1690,"y":160,"wires":[["a802c86d809dd816"]]},{"id":"6ca280565df293b4","type":"firebase modify","z":"e80aed124131b59a","name":"","firebaseconfig":"","childpath":"PLC2/canhbaodesangcungluc","method":"push","value":"msg.payload","priority":"msg.priority","x":1710,"y":440,"wires":[["bf1a43fe785e29fc"]]},{"id":"43a6053158cb18ec","type":"firebase modify","z":"e80aed124131b59a","name":"","firebaseconfig":"","childpath":"PLC2/canhbaosaichedo","method":"push","value":"msg.payload","priority":"msg.priority","x":1690,"y":720,"wires":[["dab44242eb3f04ed"]]},{"id":"ed34d3d146cbedf7","type":"debug","z":"e80aed124131b59a","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2120,"y":960,"wires":[]},{"id":"d1b3905e6272b734","type":"inject","z":"e80aed124131b59a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"str","x":1170,"y":960,"wires":[["4f73c84992cd278a","431957ee5685e535","ed34d3d146cbedf7"]]},{"id":"4f73c84992cd278a","type":"firebase modify","z":"e80aed124131b59a","name":"","firebaseconfig":"","childpath":"PLC2/canhbaomotu","method":"push","value":"msg.payload","priority":"msg.priority","x":1680,"y":1000,"wires":[["ed34d3d146cbedf7"]]},{"id":"5bc54748b9b95a65","type":"s7 in","z":"e80aed124131b59a","endpoint":"a28cc1afec606075","mode":"single","variable":"canh bao nhap trung time","diff":true,"name":"","x":1210,"y":1340,"wires":[["fe56668bd3bee957","7703c3fbf87e67b6","8029e0e95867c7a6"]]},{"id":"fe56668bd3bee957","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":7,"width":3,"height":1,"name":"","label":"nhập trùng thời gian","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1520,"y":1340,"wires":[]},{"id":"e1f1cc1691aa1773","type":"debug","z":"e80aed124131b59a","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2120,"y":1240,"wires":[]},{"id":"a27b1e60548bb448","type":"inject","z":"e80aed124131b59a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"str","x":1170,"y":1240,"wires":[["7703c3fbf87e67b6","6ecb365ab6af566e","e1f1cc1691aa1773"]]},{"id":"7703c3fbf87e67b6","type":"firebase modify","z":"e80aed124131b59a","name":"","firebaseconfig":"","childpath":"PLC2/canhbaonhaptrungtime","method":"push","value":"msg.payload","priority":"msg.priority","x":1710,"y":1280,"wires":[["e1f1cc1691aa1773"]]},{"id":"8029e0e95867c7a6","type":"ui_led","z":"e80aed124131b59a","order":8,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1470,"y":1400,"wires":[]},{"id":"1c163c50adbb895e","type":"comment","z":"e80aed124131b59a","name":"thiết lập thời gian chế độ ngủ","info":"","x":160,"y":500,"wires":[]},{"id":"aec5ddc0ab59b219","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"TIME NHAY VANG","diff":true,"name":"","x":130,"y":1840,"wires":[["f6c730194df5ac8b"]]},{"id":"f6c730194df5ac8b","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":10,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":370,"y":1840,"wires":[["d3f6a767956629be"]]},{"id":"d3f6a767956629be","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"TIME NHAY VANG","name":"","x":630,"y":1840,"wires":[]},{"id":"470ff211f98df088","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":9,"width":4,"height":1,"name":"","label":"NHAY VANG","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":1780,"wires":[]},{"id":"21c55e27166d3273","type":"e-mail","z":"e80aed124131b59a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hoang11761311@gmail.com","dname":"","x":1540,"y":80,"wires":[]},{"id":"7c02c6ce37089ee4","type":"e-mail","z":"e80aed124131b59a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hoang11761311@gmail.com","dname":"","x":1540,"y":360,"wires":[]},{"id":"bb5c888ae6b2e695","type":"e-mail","z":"e80aed124131b59a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hoang11761311@gmail.com","dname":"","x":1540,"y":640,"wires":[]},{"id":"431957ee5685e535","type":"e-mail","z":"e80aed124131b59a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hoang11761311@gmail.com","dname":"","x":1540,"y":920,"wires":[]},{"id":"6ecb365ab6af566e","type":"e-mail","z":"e80aed124131b59a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hoang11761311@gmail.com","dname":"","x":1540,"y":1200,"wires":[]},{"id":"2c2e3079a0f0b7ac","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"7317e5d14dc3e656","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"19e31536cb9cb229","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":4,"width":1,"height":1},{"id":"495857c25b2a319f","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":7,"width":1,"height":1},{"id":"d41493c618dde466","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":8,"width":1,"height":1},{"id":"d92dd1d45c59d97a","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":9,"width":1,"height":1},{"id":"dd0fa9f6ca1354b0","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":4,"width":1,"height":1},{"id":"21c1ae0bac9be674","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":7,"width":1,"height":1},{"id":"6a32931b034bc24b","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":8,"width":1,"height":1},{"id":"e86b79c3d6f1ab18","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":9,"width":1,"height":1},{"id":"059eb3fa169fcaf9","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"2db82a1b2a451352","order":9,"width":7,"height":1},{"id":"bf2bbe043490e8ac","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"2db82a1b2a451352","order":12,"width":5,"height":1},{"id":"5f41aa0a2d6a0445","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"7b030731c7cff021","order":11,"width":2,"height":1},{"id":"1d1b6f57e12ab5c9","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"df2bb8eadd6919e8","order":2,"width":1,"height":1},{"id":"9cee5e5d88e62183","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"df2bb8eadd6919e8","order":5,"width":1,"height":1},{"id":"b9cb3d8618b308d5","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"233975b6ff9c4da4","order":2,"width":1,"height":1},{"id":"cedc1aed75d9568b","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"233975b6ff9c4da4","order":5,"width":1,"height":1},{"id":"af7fda51fcdb1793","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"3f09a206b1393c24","order":2,"width":1,"height":1},{"id":"401b6a101deec2f8","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"3f09a206b1393c24","order":5,"width":1,"height":1},{"id":"e83c5f74d924644c","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.1.125","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"1000","timeout":"2000","verbose":"default","name":"","vartable":[{"addr":"Q0.0","name":"xanh1"},{"addr":"Q0.1","name":"vang1"},{"addr":"Q0.2","name":"do1"},{"addr":"Q0.3","name":"xanh2"},{"addr":"Q0.4","name":"vang2"},{"addr":"Q0.5","name":"do2"},{"addr":"Q0.6","name":"xanhbo1"},{"addr":"Q0.7","name":"dobo1"},{"addr":"Q1.0","name":"xanhbo2"},{"addr":"Q1.1","name":"dobo2"},{"addr":"M13.0","name":"canh bao mo tu"},{"addr":"M13.1","name":"bao chay den"},{"addr":"M13.2","name":"bao den sang cung luc"},{"addr":"M13.3","name":"bao den sai che do"},{"addr":"M13.4","name":"canh bao nhap trung time"},{"addr":"M10.1","name":"che do ngu"},{"addr":"M10.2","name":"che do dem khuya"},{"addr":"M10.3","name":"che do binh thuong"},{"addr":"M13.5","name":"start"},{"addr":"M13.6","name":"stop"},{"addr":"DB3,INT0","name":"TIME START CĐ NGU_GIO"},{"addr":"DB3,INT2","name":"TIME START CĐ NGU_PHUT"},{"addr":"DB3,INT4","name":"TIME START CĐ DEM KHUYA_GIO"},{"addr":"DB3,INT6","name":"TIME START CĐ DEM KHUYA_PHUT"},{"addr":"DB3,INT8","name":"TIME START CĐ BINH THUONG_GIO"},{"addr":"DB3,INT10","name":"TIME START CĐ BINH THUONG_PHUT"},{"addr":"DB3,INT18","name":"TIME XANH 1"},{"addr":"DB3,INT20","name":"TIME VANG 1"},{"addr":"DB3,INT22","name":"TIME XANH 2"},{"addr":"DB3,INT24","name":"TIME VANG 2"},{"addr":"DB3,INT26","name":"TIME NHAY VANG"}]},{"id":"21fede182edc0b75","type":"ui_group","name":"làn xe 1","tab":"215162c4ddb2a0ce","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"13a883f18f03b018","type":"ui_group","z":"e80aed124131b59a","name":"làn xe 2","tab":"215162c4ddb2a0ce","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"df2bb8eadd6919e8","type":"ui_group","name":"Thiết lập thời gian chế độ ngủ","tab":"215162c4ddb2a0ce","order":6,"disp":true,"width":6,"collapse":true,"className":""},{"id":"233975b6ff9c4da4","type":"ui_group","name":"Thiết lập chế độ đêm khuya","tab":"215162c4ddb2a0ce","order":7,"disp":true,"width":6,"collapse":true,"className":""},{"id":"3f09a206b1393c24","type":"ui_group","name":"Thiết lập thời gian chế độ bình thường","tab":"215162c4ddb2a0ce","order":8,"disp":true,"width":"6","collapse":true,"className":""},{"id":"2b90c887413d0754","type":"ui_group","name":"Khởi động","tab":"215162c4ddb2a0ce","order":1,"disp":true,"width":"4","collapse":true,"className":""},{"id":"4362cdf90f4af5ca","type":"ui_group","name":"Chế độ đèn","tab":"215162c4ddb2a0ce","order":9,"disp":true,"width":4,"collapse":false,"className":""},{"id":"7b030731c7cff021","type":"ui_group","name":"Thiết lập chu kì đèn","tab":"215162c4ddb2a0ce","order":5,"disp":true,"width":"4","collapse":true,"className":""},{"id":"a28cc1afec606075","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.1.125","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"1000","timeout":"2000","verbose":"default","name":"","vartable":[{"addr":"Q0.0","name":"xanh1"},{"addr":"Q0.1","name":"vang1"},{"addr":"Q0.2","name":"do1"},{"addr":"Q0.3","name":"xanh2"},{"addr":"Q0.4","name":"vang2"},{"addr":"Q0.5","name":"do2"},{"addr":"Q0.6","name":"xanhbo1"},{"addr":"Q0.7","name":"dobo1"},{"addr":"Q1.0","name":"xanhbo2"},{"addr":"Q1.1","name":"dobo2"},{"addr":"M10.0","name":"start"},{"addr":"M13.1","name":"bao chay den"},{"addr":"M13.2","name":"bao den sang cung luc"},{"addr":"M13.3","name":"bao den sai che do"},{"addr":"M13.0","name":"canh bao mo tu"},{"addr":"M13.6","name":"canh bao nhap trung time"},{"addr":"","name":""}]},{"id":"2db82a1b2a451352","type":"ui_group","name":"cảnh báo","tab":"215162c4ddb2a0ce","order":4,"disp":true,"width":10,"collapse":false,"className":""},{"id":"215162c4ddb2a0ce","type":"ui_tab","z":"e80aed124131b59a","name":"Hệ thống đèn giao thông","icon":"dashboard","disabled":false,"hidden":false}]