flows.json
[{"id":"e80aed124131b59a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ea7300f98c6f63ed","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanh1","diff":true,"name":"read s7-1200","x":150,"y":200,"wires":[["644b1fd16d4eb3d2"]]},{"id":"644b1fd16d4eb3d2","type":"ui_led","z":"e80aed124131b59a","order":1,"group":"21fede182edc0b75","width":2,"height":2,"label":"xanh 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"},{"color":"#ffffff","value":"false","valueType":"bool"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"xanh1","x":330,"y":200,"wires":[]},{"id":"618faa5c63ca80b0","type":"ui_led","z":"e80aed124131b59a","order":2,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"vang1","x":330,"y":260,"wires":[]},{"id":"913c851a277588c0","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"start","name":"start","x":410,"y":80,"wires":[]},{"id":"711d27a8640514b5","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"bao chay den","diff":true,"name":"","x":1150,"y":220,"wires":[["1a890ba9cf58f8e6","2fdffad8784b0a54"]]},{"id":"3bb6ffc4c653115d","type":"ui_led","z":"e80aed124131b59a","order":1,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"xanh2","x":710,"y":200,"wires":[]},{"id":"66fd8b49c7ad2121","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"bao den sang cung luc","diff":true,"name":"","x":1180,"y":380,"wires":[["8c4962f70efbf123","871025e0fd6917eb"]]},{"id":"d2db76ecfc9b54af","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"bao den sai che do","diff":true,"name":"","x":1170,"y":520,"wires":[["9c1fd058d2d9fb83","9301728768353770"]]},{"id":"8b81f2e31eee6a68","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"canh bao mo tu","diff":true,"name":"","x":1160,"y":640,"wires":[["ddf6f802b23fdeab","e1fecb22fd8d3e69"]]},{"id":"bb475c95df25845b","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"vang1","diff":true,"name":"read s7-1200","x":150,"y":260,"wires":[["618faa5c63ca80b0"]]},{"id":"6b9f476acb4f0a46","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"do1","diff":true,"name":"read s7-1200","x":150,"y":320,"wires":[["d9b3bd49c522420a"]]},{"id":"d9b3bd49c522420a","type":"ui_led","z":"e80aed124131b59a","order":3,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"do1","x":330,"y":320,"wires":[]},{"id":"e461e5e31b9198b9","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanhbo1","x":340,"y":380,"wires":[]},{"id":"d3b5116b94c6aabe","type":"ui_led","z":"e80aed124131b59a","order":5,"group":"21fede182edc0b75","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"dobo1","x":330,"y":440,"wires":[]},{"id":"57d6df81dbc2d0b1","type":"ui_led","z":"e80aed124131b59a","order":3,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"do2","x":710,"y":320,"wires":[]},{"id":"202cadf7240518b7","type":"ui_led","z":"e80aed124131b59a","order":2,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"vang2","x":710,"y":260,"wires":[]},{"id":"82db761426787964","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanhbo2","x":720,"y":380,"wires":[]},{"id":"2346968f792d0183","type":"ui_led","z":"e80aed124131b59a","order":5,"group":"13a883f18f03b018","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"dobo2","x":710,"y":440,"wires":[]},{"id":"6a3bd8437d7f6b36","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanhbo1","diff":true,"name":"read s7-1200","x":150,"y":380,"wires":[["e461e5e31b9198b9"]]},{"id":"07f1ddb0ad94459b","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"vang2","diff":true,"name":"read s7-1200","x":530,"y":260,"wires":[["202cadf7240518b7"]]},{"id":"36e6fd8531f75346","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"do2","diff":true,"name":"read s7-1200","x":530,"y":320,"wires":[["57d6df81dbc2d0b1"]]},{"id":"7879125153d7219c","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanh2","diff":true,"name":"read s7-1200","x":530,"y":200,"wires":[["3bb6ffc4c653115d"]]},{"id":"f62dabb033db49da","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"dobo1","diff":true,"name":"read s7-1200","x":150,"y":440,"wires":[["d3b5116b94c6aabe"]]},{"id":"8416eace9043739f","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"xanhbo2","diff":true,"name":"read s7-1200","x":530,"y":380,"wires":[["82db761426787964"]]},{"id":"cf8d06d3dcba749a","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"dobo2","diff":true,"name":"read s7-1200","x":530,"y":440,"wires":[["2346968f792d0183"]]},{"id":"146f79cba6f10359","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"phút","tooltip":"","group":"df2bb8eadd6919e8","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":600,"wires":[["1f80e174dcc23ed8"]]},{"id":"4846989d130ae3c8","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":600,"wires":[["146f79cba6f10359"]]},{"id":"1f80e174dcc23ed8","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":600,"wires":[]},{"id":"929df7d1071f0cb6","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giờ","tooltip":"","group":"df2bb8eadd6919e8","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"color","topicType":"msg","x":350,"y":540,"wires":[["47c28a205ae36fe8"]]},{"id":"8f67f9a5330d971c","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":540,"wires":[["929df7d1071f0cb6"]]},{"id":"47c28a205ae36fe8","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":540,"wires":[]},{"id":"4f4c5ec8b30460e8","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giờ","tooltip":"","group":"df2bb8eadd6919e8","order":8,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":720,"wires":[["cf424117855bf612"]]},{"id":"66c8bd952dff65c7","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":720,"wires":[["4f4c5ec8b30460e8"]]},{"id":"cf424117855bf612","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":720,"wires":[]},{"id":"3c1e04b40b19ae72","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"phút","tooltip":"","group":"df2bb8eadd6919e8","order":9,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":780,"wires":[["262f803da5729b0d"]]},{"id":"7e3a8b73bf0b9c45","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":780,"wires":[["3c1e04b40b19ae72"]]},{"id":"262f803da5729b0d","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":780,"wires":[]},{"id":"bd183531d8304cb4","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giờ","tooltip":"","group":"233975b6ff9c4da4","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":940,"wires":[["94f3982b2b9d90d5"]]},{"id":"e69e1018efe60c3b","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":940,"wires":[["bd183531d8304cb4"]]},{"id":"94f3982b2b9d90d5","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":940,"wires":[]},{"id":"9c0f3e52ee4dd5f3","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"phút","tooltip":"","group":"233975b6ff9c4da4","order":4,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":1000,"wires":[["1b6b7d58797017ba"]]},{"id":"da4ff8d15d1d86d6","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":1000,"wires":[["9c0f3e52ee4dd5f3"]]},{"id":"1b6b7d58797017ba","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":1000,"wires":[]},{"id":"3697a900723c802c","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giờ","tooltip":"","group":"233975b6ff9c4da4","order":7,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":1160,"wires":[["53df43ad7ad21f44"]]},{"id":"a1be6fdd9983d9cc","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":1160,"wires":[["3697a900723c802c"]]},{"id":"53df43ad7ad21f44","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":1160,"wires":[]},{"id":"4334b5c91a219db2","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"phút","tooltip":"","group":"233975b6ff9c4da4","order":8,"width":2,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":1220,"wires":[["dd9048e1324db3f7"]]},{"id":"bafc36b4161e7d93","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":140,"y":1220,"wires":[["4334b5c91a219db2"]]},{"id":"dd9048e1324db3f7","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":750,"y":1220,"wires":[]},{"id":"cc244339a79c383b","type":"ui_button","z":"e80aed124131b59a","name":"start","group":"2b90c887413d0754","order":1,"width":2,"height":1,"passthru":true,"label":"START","tooltip":"","color":"white","bgcolor":"blue","className":"hello","icon":"","payload":"bat dau","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":80,"wires":[["913c851a277588c0"]]},{"id":"1829f4f1817e5e2d","type":"ui_button","z":"e80aed124131b59a","name":"stop","group":"2b90c887413d0754","order":2,"width":2,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"","payload":"dừng","payloadType":"str","topic":"topic","topicType":"msg","x":590,"y":80,"wires":[["71c13f9ee5a2f366"]]},{"id":"71c13f9ee5a2f366","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":850,"y":80,"wires":[]},{"id":"1a890ba9cf58f8e6","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":1,"width":3,"height":1,"name":"","label":"báo cháy đèn","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1480,"y":220,"wires":[]},{"id":"8c4962f70efbf123","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":4,"width":3,"height":1,"name":"","label":"đèn đang sáng cùng lúc","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1510,"y":380,"wires":[]},{"id":"9c1fd058d2d9fb83","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":7,"width":3,"height":1,"name":"","label":"đèn sai chế độ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1480,"y":520,"wires":[]},{"id":"ddf6f802b23fdeab","type":"ui_text","z":"e80aed124131b59a","group":"2db82a1b2a451352","order":10,"width":3,"height":1,"name":"","label":"tủ đang được mở","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1490,"y":640,"wires":[]},{"id":"2fdffad8784b0a54","type":"ui_led","z":"e80aed124131b59a","order":3,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":280,"wires":[]},{"id":"871025e0fd6917eb","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":440,"wires":[]},{"id":"9301728768353770","type":"ui_led","z":"e80aed124131b59a","order":9,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":580,"wires":[]},{"id":"e1fecb22fd8d3e69","type":"ui_led","z":"e80aed124131b59a","order":12,"group":"2db82a1b2a451352","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":700,"wires":[]},{"id":"7cf404983f92ca37","type":"comment","z":"e80aed124131b59a","name":"Khởi động","info":"hello","x":140,"y":20,"wires":[]},{"id":"794c383fbb21a0d1","type":"comment","z":"e80aed124131b59a","name":"hệ thống đèn giao thông","info":"","x":190,"y":140,"wires":[]},{"id":"42d06ab8b783053a","type":"comment","z":"e80aed124131b59a","name":"thiết lập thời gian làn xe 2(chế độ đêm)","info":"","x":210,"y":500,"wires":[]},{"id":"7b1e740e82c3dc32","type":"comment","z":"e80aed124131b59a","name":"thiết lập thời gian làn xe 2(chế độ ngủ)","info":"","x":190,"y":660,"wires":[]},{"id":"a4f663347823cb47","type":"comment","z":"e80aed124131b59a","name":"thiết lập thời gian làn xe 1(chế độ đêm)","info":"","x":190,"y":880,"wires":[]},{"id":"0449c6be153586dd","type":"comment","z":"e80aed124131b59a","name":"thiết lập thời gian làn xe 1(chế độ ngủ)","info":"","x":190,"y":1100,"wires":[]},{"id":"578f2f52bc88b050","type":"comment","z":"e80aed124131b59a","name":"thông báo","info":"","x":1140,"y":140,"wires":[]},{"id":"e8863f0059403f63","type":"comment","z":"e80aed124131b59a","name":"chế độ đèn","info":"","x":1140,"y":800,"wires":[]},{"id":"2671cee658318570","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"canh bao mo tu","diff":true,"name":"","x":1160,"y":880,"wires":[["87d216a14072a04c","a6251eec767ca750","0b2d3dfc20a8c502"]]},{"id":"87d216a14072a04c","type":"ui_text","z":"e80aed124131b59a","group":"4362cdf90f4af5ca","order":1,"width":3,"height":1,"name":"","label":"chế độ thường","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1480,"y":880,"wires":[]},{"id":"a6251eec767ca750","type":"ui_led","z":"e80aed124131b59a","order":2,"group":"4362cdf90f4af5ca","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":940,"wires":[]},{"id":"1b791f9b5d31cb5a","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"canh bao mo tu","diff":true,"name":"","x":1160,"y":1100,"wires":[["cadce8b6f44ee469","deafbca2efe0d717","c5b56a5cca46cfad"]]},{"id":"cadce8b6f44ee469","type":"ui_text","z":"e80aed124131b59a","group":"4362cdf90f4af5ca","order":3,"width":3,"height":1,"name":"","label":"chế độ đêm","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1470,"y":1100,"wires":[]},{"id":"deafbca2efe0d717","type":"ui_led","z":"e80aed124131b59a","order":4,"group":"4362cdf90f4af5ca","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":1160,"wires":[]},{"id":"242ae5985cf81819","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"canh bao mo tu","diff":true,"name":"","x":1160,"y":1320,"wires":[["d349755dde827c72","8a1dfbc62d5032c5","e0dd91375bc485b7"]]},{"id":"d349755dde827c72","type":"ui_text","z":"e80aed124131b59a","group":"4362cdf90f4af5ca","order":5,"width":3,"height":1,"name":"","label":"chế độ ngủ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1470,"y":1320,"wires":[]},{"id":"8a1dfbc62d5032c5","type":"ui_led","z":"e80aed124131b59a","order":6,"group":"4362cdf90f4af5ca","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":1380,"wires":[]},{"id":"5b5f60abe7e85a53","type":"ui_text","z":"e80aed124131b59a","group":"233975b6ff9c4da4","order":1,"width":5,"height":1,"name":"","label":"start","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":880,"wires":[]},{"id":"17266941dd253f0a","type":"ui_text","z":"e80aed124131b59a","group":"df2bb8eadd6919e8","order":1,"width":6,"height":1,"name":"","label":"start","format":"{{msg.payload}}","layout":"row-spread","className":"","x":454,"y":504,"wires":[]},{"id":"8601695e442c584b","type":"ui_text","z":"e80aed124131b59a","group":"233975b6ff9c4da4","order":5,"width":5,"height":1,"name":"","label":"stop","format":"{{msg.payload}}","layout":"row-spread","className":"","x":473,"y":1106,"wires":[]},{"id":"aac19a5f6d5e2535","type":"ui_text","z":"e80aed124131b59a","group":"df2bb8eadd6919e8","order":6,"width":6,"height":1,"name":"","label":"stop","format":"{{msg.payload}}","layout":"row-spread","className":"","x":483,"y":668,"wires":[]},{"id":"0b2d3dfc20a8c502","type":"ui_toast","z":"e80aed124131b59a","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ thường","x":1510,"y":980,"wires":[]},{"id":"c5b56a5cca46cfad","type":"ui_toast","z":"e80aed124131b59a","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ đêm","x":1498,"y":1221,"wires":[]},{"id":"e0dd91375bc485b7","type":"ui_toast","z":"e80aed124131b59a","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ ngủ","x":1500,"y":1440,"wires":[]},{"id":"78db064108a2a8bf","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":220,"y":1400,"wires":[["dd2a1c44b99545eb"]]},{"id":"dd2a1c44b99545eb","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":3,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":450,"y":1400,"wires":[["921b6c67403a4e92"]]},{"id":"921b6c67403a4e92","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":730,"y":1400,"wires":[]},{"id":"8cf459ee19511cc0","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":220,"y":1540,"wires":[["9cd2886977aee27a"]]},{"id":"9cd2886977aee27a","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":7,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":450,"y":1540,"wires":[["f2f363ac48ab6b4e"]]},{"id":"f2f363ac48ab6b4e","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":730,"y":1540,"wires":[]},{"id":"642cb50f951f84c0","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":220,"y":1680,"wires":[["f2b128b7dfd7f020"]]},{"id":"f2b128b7dfd7f020","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":4,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":450,"y":1680,"wires":[["52b4586866797c8e"]]},{"id":"52b4586866797c8e","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":730,"y":1680,"wires":[]},{"id":"3079ba9060e0c2f8","type":"s7 in","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","mode":"single","variable":"","diff":true,"name":"","x":220,"y":1820,"wires":[["37eaa9e233a3e4e1"]]},{"id":"37eaa9e233a3e4e1","type":"ui_text_input","z":"e80aed124131b59a","name":"","label":"giây","tooltip":"","group":"7b030731c7cff021","order":8,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":450,"y":1820,"wires":[["b2fad68dc7628598"]]},{"id":"b2fad68dc7628598","type":"s7 out","z":"e80aed124131b59a","endpoint":"e83c5f74d924644c","variable":"","name":"","x":730,"y":1820,"wires":[]},{"id":"f8ae96973d1f38a1","type":"comment","z":"e80aed124131b59a","name":"thiet lap chu ki den","info":"","x":190,"y":1320,"wires":[]},{"id":"ad1a06a42060aa25","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":5,"width":2,"height":1,"name":"","label":"T3","format":"{{msg.payload}}","layout":"row-spread","className":"","x":450,"y":1620,"wires":[]},{"id":"2b330906ed15d59f","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":1,"width":2,"height":1,"name":"","label":"T1","format":"{{msg.payload}}","layout":"row-spread","className":"","x":450,"y":1340,"wires":[]},{"id":"ac4396dc1c1cbe5a","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":2,"width":2,"height":1,"name":"","label":"T2","format":"{{msg.payload}}","layout":"row-spread","className":"","x":450,"y":1480,"wires":[]},{"id":"f99a0ed0b261cc2f","type":"ui_text","z":"e80aed124131b59a","group":"7b030731c7cff021","order":6,"width":2,"height":1,"name":"","label":"T4","format":"{{msg.payload}}","layout":"row-spread","className":"","x":450,"y":1760,"wires":[]},{"id":"2c2e3079a0f0b7ac","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"7317e5d14dc3e656","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"39f5a931554f0512","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":4,"width":1,"height":1},{"id":"e4f439c1a2d08e29","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":7,"width":1,"height":1},{"id":"27437b74a4be2da1","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":8,"width":1,"height":1},{"id":"de779508e2faf237","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"21fede182edc0b75","order":9,"width":1,"height":1},{"id":"ae616ce5812fc17f","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":4,"width":1,"height":1},{"id":"9db09bf349e564a0","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":7,"width":1,"height":1},{"id":"ee07d4099e8f5bee","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":8,"width":1,"height":1},{"id":"6a89c6b629ff2e7d","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"13a883f18f03b018","order":9,"width":1,"height":1},{"id":"77938a9258e48bd5","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"2db82a1b2a451352","order":2,"width":1,"height":1},{"id":"336639d71a3b773e","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"2db82a1b2a451352","order":5,"width":1,"height":1},{"id":"133e979dda1b5e3c","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"2db82a1b2a451352","order":8,"width":1,"height":1},{"id":"d1dfe859957c449a","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"2db82a1b2a451352","order":11,"width":1,"height":1},{"id":"ce3cdf7651b58e0c","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"233975b6ff9c4da4","order":2,"width":1,"height":1},{"id":"841b02924abd41d5","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"233975b6ff9c4da4","order":6,"width":1,"height":1},{"id":"409297724f9f48f8","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"df2bb8eadd6919e8","order":2,"width":1,"height":1},{"id":"d3c09bd776133d79","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"df2bb8eadd6919e8","order":5,"width":1,"height":1},{"id":"fb3865df2d836e11","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"df2bb8eadd6919e8","order":7,"width":1,"height":1},{"id":"41b85e1e6e2ca556","type":"ui_spacer","z":"e80aed124131b59a","name":"spacer","group":"df2bb8eadd6919e8","order":10,"width":1,"height":1},{"id":"e83c5f74d924644c","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.1.125","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"Q0.0","name":"xanh1"},{"addr":"Q0.1","name":"vang1"},{"addr":"Q0.2","name":"do1"},{"addr":"Q0.3","name":"xanh2"},{"addr":"Q0.4","name":"vang2"},{"addr":"Q0.5","name":"do2"},{"addr":"Q0.6","name":"xanhbo1"},{"addr":"Q0.7","name":"dobo1"},{"addr":"Q1.0","name":"xanhbo2"},{"addr":"Q1.1","name":"dobo2"},{"addr":"M10.0","name":"start"},{"addr":"M13.1","name":"bao chay den"},{"addr":"M13.2","name":"bao den sang cung luc"},{"addr":"M13.3","name":"bao den sai che do"},{"addr":"M12.0","name":"canh bao mo tu"}]},{"id":"21fede182edc0b75","type":"ui_group","name":"làn xe 1","tab":"215162c4ddb2a0ce","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"13a883f18f03b018","type":"ui_group","z":"e80aed124131b59a","name":"làn xe 2","tab":"215162c4ddb2a0ce","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"df2bb8eadd6919e8","type":"ui_group","name":"Thiết lập chế độ ngủ","tab":"215162c4ddb2a0ce","order":7,"disp":true,"width":"6","collapse":true,"className":""},{"id":"233975b6ff9c4da4","type":"ui_group","name":"Thiết lập chế độ đêm khuya","tab":"215162c4ddb2a0ce","order":8,"disp":true,"width":5,"collapse":true,"className":""},{"id":"2b90c887413d0754","type":"ui_group","name":"Khởi động","tab":"215162c4ddb2a0ce","order":1,"disp":true,"width":"4","collapse":true,"className":""},{"id":"2db82a1b2a451352","type":"ui_group","name":"thông báo","tab":"215162c4ddb2a0ce","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"4362cdf90f4af5ca","type":"ui_group","name":"Chế độ đèn","tab":"215162c4ddb2a0ce","order":6,"disp":true,"width":4,"collapse":false,"className":""},{"id":"7b030731c7cff021","type":"ui_group","name":"Thiết lập chu kì đèn","tab":"215162c4ddb2a0ce","order":5,"disp":true,"width":4,"collapse":false,"className":""},{"id":"215162c4ddb2a0ce","type":"ui_tab","z":"e80aed124131b59a","name":"Hệ thống đèn giao thông","icon":"dashboard","disabled":false,"hidden":false}]